# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
subhalagna-backend/.env
subhalagna-frontend/.env

# Dependencies
node_modules/
subhalagna-frontend/node_modules/
subhalagna-backend/node_modules/

# Production / Build
dist/
build/
subhalagna-frontend/dist/
subhalagna-frontend/dist-ssr/
coverage/

# Tools & Linting
.eslintcache
.stylelintcache
eslint-debug.log*
.prettiercache
.parcel-cache

# OS specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Icon?

# IDEs and Editors
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.swn
*.suo
*.ntvs*
*.njsproj
*.sln
.project
.settings/

# Local data / Uploads
subhalagna-backend/uploads/*
!subhalagna-backend/uploads/.gitkeep


